---
layout: default
title: Example
navigation-order: 4
---
<div class="o-layout">
	<div class="o-layout__item u-1/1 u-1/2@tablet">
		<h2>Wu Tang Clan - the beginnings</h2>
		<p>All in Together Now was never signed to a record label. See, me, GZA, and ODB had a crew called FOI: Force of the Imperial Master, nah mean? We made a song, called "All in Together Now", which became famous on tapes throughout Brooklyn, Downtown Staten Island, New York, all the way down to Miami. I remember Biz Markie, when he was famous and I wasn't famous, and he was like: "Yo! I heard that shit! Your song with Ason Unique and The Specialist." I was the Scientist. So we never got signed as a group back then. We never had a serious record deal under that title.
		— RZA</p>
	</div>
	<div class="o-layout__item u-1/1 u-1/2@tablet">
		<img src="http://placehold.it/950x450">
	</div>
	<div class="o-layout__item u-1/1 u-3/5@tablet">
		{% include partials/media.html class="c-media--block" content="kitchensink/media-example.html" %}
	</div>
	<div class="o-layout__item u-1/1 u-2/5@tablet">
		{% include partials/menu.html num="1" content="kitchensink/menu-example.html" %}
	</div>
	<div class="o-layout__item u-1/1">
		{% include partials/feature.html %}
	</div>
</div>