<footer class="footer">
  <h3>Get in touch</h3>
  <div class="wrap">
    <h4>By phone or email</h4>
    <p class="details">0207XXXXXXX</p>
    <p class="details"><a href="mailto:queries@example.com">queries@example.com</a></p>
  </div>
  <div class="wrap">
    <h4>Or visit us</h4>
    <div class="address">
      <p>LONDON</p>
      <p>69 Old Street</p>
      <p>London</p>
      <p>EX12456</p>
    </div>
    <div class="address">
      <p>EDINBURGH</p>
      <p>Blah Blah</p>
      <p>Edinburgh</p>
      <p>Edf12456</p>
    </div>
  </div>

  <section class="social">
    <div>
      <p>visit our FB</p>
    </div>
    <div>
      <p>visit our twitter</p>
    </div>
    <div>
      <p>visit our linkedin</p>
    </div>
    <div>
      <p>visit our something</p>
    </div>
  </section>
</footer>