section.contacts{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	div {
		background: grey;
		margin:1px;
		padding: 5px;
		min-width: 200px;
		height: 100px;
		flex: 0 1 auto;
	}
}