section.contacts{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	div {
		background: grey;
		margin:1px;
		padding: 5px;
		height: 100px;
		flex: 0 1 auto;


		@include mobile {
			flex: 1 100%;
			text-align: center;
			
		}

		@include tablet {
		    flex: 1 0 auto;
		    min-width: 200px;
		     flex-basis: 35%;

		  }

		@include desktop {
			flex: 1 0 auto;
			min-width: 200px;
			 flex-basis: 35%;
		}
	}

}