footer.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background: #cccccc;
	padding: 20px;

	> * {
		flex: 1 100%;
	}

	p {
		margin-bottom:0.5em;
		font-size: 0.6em;
	}
	p.details {
		flex: 1 auto;
	}
	h3 {
		font-size:1em;
		margin-bottom: 0.4em;
	}
	h4 {
		font-size: 0.8em;
		margin-bottom: 0.2em;
	}
	div.address {
		flex: 1 auto;

	}
	div.wrap {
		display: flex;
		flex: 1 auto;
		flex-flow: row wrap;

		@include tablet {
			flex: 1 50%;
		}

		@include desktop {
			flex: 1 50%;
		}

		> * {
		flex: 1 50%;
		padding:5px;
		}
		h4 {
			flex:1 100%;
		}
	}
	section.social {
		padding-right: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		div {
			font-size: 0.75em;
			margin-top:20px;
			background: #eaeaea;
			width:100px;
			height: 80px;
			text-align: center;
		}
	}

	@include mobile {
		text-align: center;
	}
}