
  ul.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin-left: 0;
    li {
      padding: 0.5em;
    }
    .icon {
      display: none;
    }
    /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). 
    Show the list item that contains the link to open and close the topnav (li.icon) */
    @include mobile {
      justify-content: space-around;
      li {
        &:not(:nth-child(-n+3)) {
          display: none;
        }
        &.nav__icon {
          float: right;
          display: inline-block;
        }
      }
    }
  }




  ul.nav.responsive {
    background: #eee +!important;
    width: 75%;
    min-height: 100%;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    padding-left: 40px;
    display: block;
    li {
      display: block;
      &.icon {
        position: absolute;
        left: 10px;
        top: 0;
      }
      a {
        display: block;
        text-align: left;
      }
    }
  }