section.news {
		@extend .fullWidth;
	background:chocolate;
	float: left;
	.wrap {
		@extend .innerFullWidth;
		display: block;
		float: left;
			@include desktop {
				display: flex;
				float: none;
			}

		a.news-item {
			float: left;
			width:100%;
							background-color: crimson;
				@include desktop {
					padding-left:16px;
					width: 100%;
					flex: 1 1 auto;
					width: 33.33333%;
					float: none;
				}

			div.img-wrap{
		    	height: 100px;
		    	width:25%;
		    	float:left;
			    	@include desktop {
			    		height: 200px;
			    		width: 100%;
			    		float: none;
			    	}

				div.news-image {
					background-repeat: no-repeat;
				    background-position: top center;
				    background-size: cover;
				    height: 100%;

				}
			}
			div.content {
				overflow: hidden;
				padding-left: 16px;
				    @include desktop {
				    	padding-left: 0;
				    }
			}
		}
		div.news-item:first-child {
			padding-left: 0;
		}
	}
}