body {
  padding: 2em; 
  position:relative;

}

/*mixin and for site breakpoints
	EXAMPLE USAGE:
	p {
	  font-size: 16px;

	  @include tablet {
	    font-size: 18px;
	  }

	  @include desktop {
	    font-size: 20px;
	  }
	}
*/
$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

