/* ==========================================================================
   #MEDIA ITEMS/LIST
   ========================================================================== */

.c-media {
    display: table;
    width: 100%;
    background: #FF4933;
    height: 100px;
}

.c-media__img {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    background-position: center;
    background-size: cover;
}

.c-media__text {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding-left: $spacing-small;

    h4 {
        margin: 0;

        @include inuit-font-size(16px, 24px);

        @include mq($from: tablet, $until: desktop) {
            @include inuit-font-size(12px, 18px);
        }
    }

    p {
        margin: 0;
    }
}

//variants

.c-media--block {
    background: #FFFC33;
    border: 1px solid black;

    @include mq($from: desktop) {
        .c-media__img {
            width: 100%;
            padding-right: 0;
            float: left;
        }

        .c-media__text {
            width: 100%;
            float: left;
            text-align: center;
        }
    }
}