/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
    background: #31DAFF;
    color: white;
    padding: $spacing;

    @include mq($until: mobile) {
        text-align: center;
    }
}

.c-footer--centred {
    background: #ffc031;
    text-align: center;
}