/* ==========================================================================
   #HERO-BANNER
   ========================================================================== */

.c-hero {
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: $spacing;

    @include mq($until: tablet) {
        text-align: center;
    }


    h2 {
        margin-bottom: 0;
    }
}

.c-hero__text {
    background: none;
    color: #fff;
    padding: $spacing;
    transition: all 0.2s ease;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);

    @include mq($until: tablet) {
        width: 100%;
    }


    @include mq($until: desktop) {
        padding: 0;
    }
}

.c-hero-banner__img {}

/*variants*/
.c-hero--overlay {
    @include mq($until: tablet) {
        padding: 0;
    }


    .c-hero__text {
        background: rgba(0, 0, 0, 0.5);

        @include mq($until: desktop) {
            padding: $inuit-global-spacing-unit;
        }
    }
}

.c-hero--imagery {}