@charset "UTF-8";

/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

.c-breadcrumb {
    background: #33FF71;
    overflow: hidden;
    height: $line-height;

    li a {
        color: purple;
        text-decoration: none;
    }

    li + li:before {
        content: "» ";
    }
}

/*variants/modifers*/

.c-breadcrumb--triangles {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    background: transparent;
    height: auto;

    li {
        float: left;
    }

    li a {
        background: #FF3933;
        color: white;
        text-decoration: none;
        background: brown;

        /* fallback color */
        background: hsla(6, 83%, 58%, 1);
        position: relative;
        display: block;
        float: left;

        @include mq($until: tablet) {
            padding: 0 0 0 30rem;
        }
    }

    li + li:before {
        content: none;
    }

    li a:after, li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
    }

    li a:after {
        border-left: 30px solid hsla(6, 83%, 58%, 1);
        margin-top: -50px;
        z-index: 2;
    }

    li a:before {
        border-left: 30px solid white;
        margin-left: 1px;
        z-index: 1;
    }

    li:first-child a {
        padding-left: 10px;
    }

    li:nth-child(2) a {
        background: hsla(6, 83%, 68%, 1);
    }

    li:nth-child(2) a:after {
        border-left-color: hsla(6, 83%, 68%, 1);
    }

    li:nth-child(3) a {
        background: hsla(6, 83%, 78%, 1);
    }

    li:nth-child(3) a:after {
        border-left-color: hsla(6, 83%, 78%, 1);
    }

    li:last-child a {
        /*background: transparent !important;*/
        /*color: black;*/
        pointer-events: none;
        cursor: default;
    }
}