/* ==========================================================================
   #NAVIGATION
   ========================================================================== */
   .c-nav {
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: flex-end;
	    list-style: none;
	    margin-left: 0;
	    background: #FF5734;
      margin-bottom: 0;
	}

  .c-nav__item {
      padding: 0.5em;

        @include mobile {
        	&:not(:nth-child(-n+3)) {
          		display: none;
        	}
    	}
    }

    .c-nav__item__link {
    	color: #fff;
    	
    	text-decoration: none;
    	&:hover {
    		cursor: pointer;
    		color: yellow;
    	}
    }

    .c-nav__icon {
      display: none;

        @include mobile {
    		float: right;
        	display: inline-block !important;
    	}
    }

  /*Variants have to come before responsive class so it can override them*/
     .c-nav--centred {
      justify-content: center;
      background: #3390FF;
  }

       .c-nav--left {
      justify-content: flex-start;
      background: #33FFB8;
  }

        /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). 
      Show the list item that contains the link to open and close the topnav (li.icon) */
      @include mobile {
        .c-nav {
        justify-content: space-around;
      }
      }

/*Style applied to navbar after icon is clicked. The class '.responsive' is given to it
through the JS function found in navbar.js*/
  .c-nav.responsive {
    background: #339FFF +!important;
    width: 75%;
    min-height: 100%;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    padding-left: 40px;
    display: block;
    li {
      display: block;
      &.c-nav__icon {
        position: absolute;
        left: 10px;
        top: 0;
      }
      a {
        display: block;
        text-align: left;

      }
    }
  }
