/* ==========================================================================
   #FEATURE
   ========================================================================== */

.c-feat {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $spacing;

    @include mq($until: tablet) {
        text-align: center;
    }


    h2 {
        margin-bottom: 0;
    }
}

.c-feat__text {
    background: #fff;
    border: 1px solid #4D5656;
    padding: $spacing;
    width: 40%;
    background-color: #F7F9F9;

    @include mq($until: desktop) {
        width: 60%;
    }


    @include mq($until: tablet) {
        width: 100%;
    }
}