.c-menu-toggle {
    background: #5631FF;
    float: right;
    display: block;
    padding: $inuit-global-spacing-unit;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.c-menu__ul.js {
    overflow: hidden;
    max-height: 0;
}

.c-menu__ul {
    background: #31FFDD;
    border-top: 1px solid #808080;
    clear: both;
    transition: all 0.3s ease-out;

    li a {
        display: block;
        padding: 0.8em;
        border-bottom: 1px solid #808080;
    }
}

.c-menu__ul.active {
    /*	be careful of this - to achieve the css transition without using JS, max-height must higher
    	than all menu's are. This will result in inconsistent timings as no matter the menu size, 
    	the transition will always be to the max-height, not the size of the menu*/
    max-height: 30rem;
}

@include mq($from: tablet) {
    .c-menu-toggle {
        display: none;
    }

    .c-menu__ul.js {
        max-height: none;
    }

    .c-menu__ul {
        margin: 0 0 0 -0.25em;
        border: 0;

        li {
            display: inline-block;
            margin: 0 0.25em;
            width: 100%;
        }

        li a {
            border: 0;
        }
    }
}