<footer class="c-footer {{include.class}}">
  <div class="o-layout">
    {% if include.content == nil %}
      <div class="o-layout__item u-1/1">
        <h2>Footer</h2>
      </div>
      <div class="o-layout__item u-1/1">
        <h3>Contact us</h3>
      </div>
      <div class="o-layout__item u-1/1 u-1/2@mobile">
        <p>0207XXXXXXX</p>
      </div>
      <div class="o-layout__item u-1/1 u-1/2@mobile">
        <p>LONDON<br/>
          69 Old Street<br/>
          London<br/>
          EX12456
        </p>
      </div>
    {% else %}
          {% include {{include.content}} %}
    {% endif %}
  </div>
</footer>
<!--
{% comment %}
{% include partials/footer.html class="anExtender" content="kitchensink/footer-example.html" %}
{% endcomment %} -->