{% comment %}
<!--Set the site's default banner here-->
{% endcomment %}
{% if include.imgsrc == nil %}
	{% assign imgsrc = "/assets/banner@1280.jpg" %}
	{% else %}
	{% assign imgsrc = {{include.imgsrc}} %}
{% endif %}

{% if include.content == nil %}
	<section style="background-image:url({{ imgsrc }});" class="c-hero {{include.class}}">
		<h2 class="c-hero__text">Welcome to my website<br/>Take a look around</h2>
	</section>
{% else %}
	<section style="background-image:url({{ imgsrc }});" class="c-hero {{include.class}}">
		{% include {{include.content}} %}
	</section>
{% endif %}
<!--
{% comment %}
example of include params
{% include partials/hero-banner.html class="c-hero--overlay" imgsrc="http://www.tescobank.com/assets/website/img/bg/homepage-hero-touch@1600px.jpg" content="kitchensink/hero-banner-example.html" %}
{% endcomment %} -->