{% if include.content == nil %}
	<section class="o-layout">
		{% for post in site.categories.news limit:3 %}
			<div class="o-layout__item  u-1/1  u-1/3@tablet">
				<a href="{{ post.url }}" class="c-media {{include.class}}">
					<div class="c-media__img">
						<img src="{{ post.img }}">
					</div>
					<div class="c-media__text">
						<h4>{{ post.title }}</h4>
					</div>
				</a>
			</div>
		{% endfor %}
	</section>
{% else %}
	<div class="o-layout">
		<div class="o-layout__item  u-1/1">
			<a href="#" class="c-media {{include.class}}">
				{% include {{include.content}} %}
			</a>
		</div>
	</div>
{% endif %}